{% extends 'welcome.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}apis{% endblock title %}
</head>
<body>
{% block content %}

    <nav class="navbar navbar-default" role="navigation"
         style="position: absolute;top: 0px;left: 15%;width:-webkit-calc(100% - 600px);z-index: 1">
        <div class="container-fluid">
            <div class="navbar-header">
                <span style="font-size: xx-small" class="navbar-brand">项目名称：{{ project.name }}</span>
                <a class="navbar-brand" href="/project_list/">返回项目列表</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/apis/{{ project.id }}/">接口库</a></li>
                    <li><a href="/cases/{{ project.id }}/">用例库</a></li>
                    <li><a href="/project_set/{{ project.id }}/">项目设置</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <br><br>
    <table class="table table-striped" style="width: 86%; margin-top: 3%">
        <thead>
        <tr style="background-color: lightgrey">
            <th>id</th>
            <th style="width: 20%">接口名称</th>
            <th style="width: 50%">url</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for api in apis %}
            <tr>
                <td>{{ api.id }}</td>
                <td>{{ api.name }}</td>
                <td>{{ api.api_url }}</td>
                <td>

                    <button onclick="" class="btn btn-success">调试</button>
                    <button onclick="get_remark()" class="btn btn-primary">备注</button>
                    <button class="btn btn-primary">复制</button>
                    <button class="btn btn-warning">异常值测试</button>
                    <button onclick="" class="btn btn-danger">删除</button>
                </td>
            </tr>

            </tbody>
            </table>
            <div style="margin-left: -12.5%;position: fixed; bottom: 0; width: 100%; text-align: center;">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">新增接口</button>
                    <button type="button" class="btn btn-default">全局请求头</button>
                    <button type="button" class="btn btn-default">全局域名</button>
                    <button type="button" class="btn btn-default">接口文档导入</button>
                    <button type="button" class="btn btn-default">抓包导入</button>
                    <button type="button" class="btn btn-default">加密算法</button>
                    <button type="button" class="btn btn-default">登录态接口</button>
                </div>
            </div>

            <--!接口备注提示框-->
            <div id="bz_text"
                 style="display: none; background-color: lightgrey; width: 30%; position: fixed; left: 35%; top: 35%;">
                <textarea id="remark_text" style="width: 100%; height: 200px" placeholder="请输入该接口备注"></textarea>
                <br>
                <button style="margin-left: 25%;margin-right: 25%" onclick="save_remark()" class="btn btn-success">确定
                </button>
                <button onclick="remark_close()" class="btn btn-danger">取消</button>
            </div>






            <!--  api详情调试弹层及函数  -->
            <div id="ts"
                 style="display: none; color: white; padding-left: 10px; border-radius: 5px; width: 80%; height: 80%; position: fixed; left: 10%; top: 10%; background-color: #3c4043; box-shadow: 4px 4px 8px grey">
            <div class="btn-group" style="float: right">
                <button type="button" class="btn btn-success">保存</button>
                <button type="button" class="btn btn-default">取消</button>
            </div>
            <h3>API：<small></small><small></small></h3>

            <ul class="nav navbar-nav" style="width: 98%">
                <li style="margin-left: 45px">
                    <select style="height: 40px" class="form-control">
                        <option value="none">请求方式</option>
                        <option value="post">POST</option>
                        <option value="get">GET</option>
                    </select>
                </li>

                <li style="width: -webkit-calc(100% - 330px)">
                    <input style="padding-left: 10px; width: 100%; height: 40px" type="text"
                           placeholder="url：如:/%s?kw=qifei" value=""/>
                </li>

                <li>
                    <button type="button" style="width: 120px;height: 40px;" class="btn btn-primary">
                        <span style="font-size: large">Send</span>
                    </button>
                </li>
            </ul>
            <br><br><br>
            <ul class="nav navbar-nav" style="width: 98%">
                <li style="margin-left: 45px;width: 83.7%">
                    <input style="padding-left: 10px;width: 100%;height: 40px" type="text"
                           placeholder="HOST：如 http(s)://www.baidu.com" value=""/>
                </li>
                <button type="button" style="height: 40px; width: 120px" class="btn btn-warning">
                    <span style="font-size: large">Clear</span>
                </button>
            </ul>
            <br><br><br>
            <ul class="nav navbar-nav" style="width: 98%">
                <li style="margin-left: 45px;width: 83.7%">
                    <input style="padding-left: 10px;width: 100%;height: 40px" type="text"
                           placeholder='HEADERS：如 {"Content": "application/json"}' value=""/>
                </li>
                <li>
                    <button type="button" style="height: 40px; width: 120px" class="btn btn-warning">
                        <span style="font-size: large">Clear</span>
                    </button>
                </li>
            </ul>


            <!--    body请求体    -->
            <br><br><br>
            <h3>Body：<small></small><small></small></h3>
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#None" data-toggle="tab">None</a></li>
                <li><a href="#form-data" data-toggle="tab">form-data</a></li>
                <li><a href="#x-www-form-urlencoded" data-toggle="tab">x-www-form-urlencoded</a></li>
                <li class="dropdown">
                    <a id="woaini" href="#" class="dropdown-toggle" data-toggle="dropdown">raw<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                        <li><a href="#Text" tabindex="-1" data-toggle="tab">Text</a></li>
                        <li><a href="#JavaScript" tabindex="-1" data-toggle="tab">JavaScript</a></li>
                        <li><a href="#Json" tabindex="-1" data-toggle="tab">Json</a></li>
                        <li><a href="#Html" tabindex="-1" data-toggle="tab">Html</a></li>
                        <li><a href="#Xml" tabindex="-1" data-toggle="tab">Xml</a></li>
                    </ul>
                </li>
                <li><a href="#Response" data-toggle="tab">Response</a></li>
            </ul>
            <!--row 下面的div-->

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="None" style="text-align: center; color: grey">
                    <h3>这个请求将不会携带任何请求体！</h3>
                    <h5>This request will not carry any request-body!</h5>

                </div>
                <div class="tab-pane fade" id="form-data">
                    <div class="table-responsive" style="width: 98%;color: black">
                        <table class="table table-bordered table-striped" id="mytable" style="background-color:white">
                            <thead style="color: #337ab7;font-size: x-small">
                            <tr>
                                <td style="width: 30%">Key</td>
                                <td style="width: 50%">Value</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Username</td>
                                <td>wqrf</td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td>123456</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-default" id="add"><i class="fa fa-plus"></i> 添加新参数</button>

                    <script>window.jQuery || document.write('<script src="/static/js/jquery-1.11.0.min.js"><\/script>')</script>
                    <script type="text/javascript" src="/static/js/bootstable.js"></script>
                    <script type="text/javascript">
                        $('#mytable').SetEditable({
                            $addButton: $('#add'),
                        });
                    </script>
                </div>
                <div class="tab-pane fade" id="x-www-form-urlencoded">
                    进入了x-www-form-urlencoded
                    <div class="table-responsive" style="width: 98%;color: black">
                        <table class="table table-bordered table-striped" id="mytable2" style="background-color:white">
                            <thead style="color: #337ab7;font-size: x-small">
                            <tr>
                                <td style="width: 30%">Key</td>
                                <td style="width: 50%">Value</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Username</td>
                                <td>wqrf</td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td>123456</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-default" id="add2"><i class="fa fa-plus"></i> 添加新参数</button>

                    <script>window.jQuery || document.write('<script src="/static/js/jquery-1.11.0.min.js"><\/script>')</script>
                    <script type="text/javascript" src="/static/js/bootstable.js"></script>
                    <script type="text/javascript">
                        $('#mytable2').SetEditable({
                            $addButton: $('#add2'),
                        });
                    </script>
                </div>
                <div class="tab-pane fade" id="Text">
                    <textarea placeholder="进入了Text" name="" id=""
                              style="color: black; width: 98%; height: 300px"></textarea>
                </div>
                <div class="tab-pane fade" id="JavaScript">
                    <textarea placeholder="进入了JavaScript" name="" id=""
                              style="color: black; width: 98%; height: 300px"></textarea>

                </div>
                <div class="tab-pane fade" id="Json">
                    <textarea placeholder="进入了Json" name="" id=""
                              style="color: black; width: 98%; height: 300px"></textarea>

                </div>
                <div class="tab-pane fade" id="Html">
                    <textarea placeholder="进入了Html" name="" id=""
                              style="color: black; width: 98%; height: 300px"></textarea>
                </div>
                <div class="tab-pane fade" id="Xml">
                    <textarea placeholder="进入了Xml" name="" id=""
                              style="color: black; width: 98%; height: 300px"></textarea>

                </div>
                <div class="tab-pane fade" id="Response">

                    <textarea name="" id="6" disabled="disabled"
                              style="color: black; width: 98%; height: 300px"></textarea>
                    <br>
                    进入了Response
                </div>
            </div>



            <script>
                function save_remark() {
                    const text = document.getElementById('remark_text').value;
                    if (text !== "") {
                        $.get('/save_remark', {
                            "remark_text": text,
                            "api_id": {{ api.id }},
                        }, function (res) {
                            if (res === 'success') {
                                alert("保存成功")
                                document.location.reload()
                            }
                        })
                    } else {
                        alert("请输入备注！！")
                    }

                }
            </script>
            <script>
                function get_remark() {

                    $.get('/get_remark/', {
                        "api_id": {{ api.id }}

                    }, function (res) {
                        if (res === '') {
                            document.getElementById("remark_text").placeholder = "该api暂无备注,请输入该接口备注！";
                            document.getElementById('bz_text').style.display = 'block';

                        } else {
                            document.getElementById("remark_text").placeholder = res
                            document.getElementById('bz_text').style.display = 'block';
                        }
                    })
                }
            </script>
        {% endfor %}

{% endblock content %}
</div>
</body>
{% block custom_scrpit %}
    document.getElementById("menu_btn").click()
{% endblock custom_scrpit %}
{% block custom1_scrpit %}
    function remark_open(){
    document.getElementById('bz_text').style.display = 'block'
    }
{% endblock custom1_scrpit %}
{% block custom2_scrpit %}
    function remark_close(){
    document.getElementById('bz_text').style.display = 'none'
    }
{% endblock custom2_scrpit %}

</html>