{% extends 'welcome.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} Help {% endblock title %}
</head>
{% block content %}

    <body style="text-align: center">
    <div style="margin-right: 90%">
        <style>
            div > a {
                text-decoration: none;
                color: deepskyblue;
            }

            a:hover {
                color: cyan;
            }

        </style>

        <br><br><br><br>
        <a href="" style="text-decoration:none">项目列表</a> <br><br>
        <a href="" style="text-decoration:none">接口库</a> <br><br>
        <a href="" style="text-decoration:none">接口测试</a> <br><br>
        <a href="" style="text-decoration:none">后台</a> <br><br>
        <a href="" style="text-decoration:none">账户</a> <br><br>
    </div>

    </body>

{% endblock content %}
{% block custom_scrpit %}
    document.getElementById("menu_btn").click()
{% endblock custom_scrpit %}
</html>